<div class="d-flex flex-column p-3 h-100 bg-light">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-2">
            <a href="/officer/dashboard" class="nav-link text-primary fw-semibold">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="/officer/requests" class="nav-link text-dark">
                <i class="bi bi-folder2-open me-2"></i> Requests
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="/officer/notifications" class="nav-link text-dark">
                <i class="bi bi-bell me-2"></i> Notifications
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="/officer/profile" class="nav-link text-dark">
                <i class="bi bi-person me-2"></i> Profile
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-danger" href="/logout"> <i class="bi bi-ban me-2"></i> Logout</a>
        </li>
    </ul>

</div>
