<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm " style="margin: 0 20px 0 0">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-primary" href="/officer/dashboard">
            <i class="bi bi-shield-lock me-2"></i> Officer Portal
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#officerNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
